# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
mascotas/dist
mascotas/tmp
mascotas/out-tsc

# dependencies
mascotas/node_modules

# IDEs and editors
mascotas/.idea
mascotas/.project
mascotas/.classpath
mascotas/.c9/
mascotas/*.launch
mascotas/.settings/
mascotas/*.sublime-workspace

# IDE - VSCode
mascotas/.vscode/*
mascotas/!.vscode/settings.json
mascotas/!.vscode/tasks.json
mascotas/!.vscode/launch.json
mascotas/!.vscode/extensions.json

# misc
mascotas/.sass-cache
mascotas/connect.lock
mascotas/coverage
mascotas/libpeerconnection.log
mascotas/npm-debug.log
mascotas/yarn-error.log
mascotas/testem.log
mascotas/typings

# System Files
mascotas/.DS_Store
mascotas/Thumbs.db

PetsAPI/.vs/*
