<mat-card>
    <h2>Register Pet</h2>
    <form>

		<mat-form-field class="example-full-width">
		    <input
		    	id="name"  
		    	matInput 
		    	[formControl]="nameFormControl" 
		    	[(ngModel)]="value" 
		    	placeholder="name" 
		    	(changeValue)="validators.get('name').setValue($event)" 
		    	required 
		    	#msgName 
		    	maxlength="50" 
		    	(change)="valueChanged()" 
		    	[errorStateMatcher]="matcher">

		    <mat-hint align="end">{{msgName.value.length}} / 50</mat-hint>
		    <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
		      Ingresa un Nombres valido
		    </mat-error>
		    <mat-error *ngIf="nameFormControl.hasError('required')">
		      Nombtre is <strong>required</strong>
		    </mat-error>
		    <mat-error *ngIf="nameFormControl.maxlength">
    			Name must be at least 4 characters long.
  			</mat-error>
		</mat-form-field>

		<mat-form-field class="example-full-width">
		    <input 
		    	id="species"
		    	matInput 
		    	placeholder="Species" 
		    	[formControl]="specieFormControl" 
		    	required 
		    	#msgSpecie 
		    	maxlength="50" 
		    	[errorStateMatcher]="matcher">

		    <mat-hint align="end">{{msgSpecie.value.length}} / 50</mat-hint>
		    <mat-error *ngIf="specieFormControl.hasError('name') && !specieFormControl.hasError('required')">
		      Ingresa una especie valida
		    </mat-error>
		    <mat-error *ngIf="specieFormControl.hasError('required')">
		      Especie is <strong>required</strong>
		    </mat-error>
		</mat-form-field>

		<mat-form-field class="example-full-width">
		    <input 
		    	matInput 
		    	placeholder="Breed" 
		    	[formControl]="breedFormControl" 
		    	required 
		    	#msgBreed 
		    	maxlength="50" 
		    	[errorStateMatcher]="matcher">

		    <mat-hint align="end">{{msgBreed.value.length}} / 50</mat-hint>
		    <mat-error *ngIf="breedFormControl.hasError('name') && !breedFormControl.hasError('required')">
		      Ingresa una raza valida
		    </mat-error>
		    <mat-error *ngIf="breedFormControl.hasError('required')">
		      Raza is <strong>required</strong>
		    </mat-error>
		</mat-form-field>

		<mat-form-field class="example-full-width">
		    <input 
		    	matInput 
		    	placeholder="Age" 
		    	[formControl]="ageFormControl" 
		    	required 
		    	#msgAge 
		    	maxlength="50" 
		    	[errorStateMatcher]="matcher">

		    <mat-hint align="end">{{msgAge.value.length}} / 50</mat-hint>
		    <mat-error *ngIf="ageFormControl.hasError('name') && !ageFormControl.hasError('required')">
		      Ingresa una edad valida
		    </mat-error>
		    <mat-error *ngIf="ageFormControl.hasError('required')">
		      Edad is <strong>required</strong>
		    </mat-error>
		</mat-form-field>

		<mat-form-field class="example-full-width">
		    <mat-select 
		    	matInput 
		    	placeholder="Sex" 
		    	[formControl]="sexFormControl" 
		    	required 
		    	[errorStateMatcher]="matcher">
		    	
		    	<mat-option>--</mat-option>
		    	<mat-option *ngFor="let sex of sexs" [value]="sex">
			      {{sex.type}}
			    </mat-option>
			</mat-select>
		    
		    <mat-error *ngIf="sexFormControl.hasError('required')">
		      Selecciona el sexo del animal es <strong>required</strong>
		    </mat-error>
		    <mat-hint>{{sexFormControl.value?.sound}}</mat-hint>
		</mat-form-field>

		<mat-form-field class="example-full-width">
		    <input 
		    	matInput 
		    	placeholder="Origin" 
		    	[formControl]="originFormControl" 
		    	required 
		    	#msgOrigin 
		    	maxlength="50" 
		    	[errorStateMatcher]="matcher">

		    <mat-hint align="end">{{msgOrigin.value.length}} / 50</mat-hint>
		    <mat-error *ngIf="originFormControl.hasError('required')">
		      Origen is <strong>required</strong>
		    </mat-error>
		</mat-form-field>

		<mat-form-field class="example-full-width">
		    <input 
		    	matInput 
		    	placeholder="Diseases"  
		    	[formControl]="diseasesFormControl" 
		    	#msgDiseases 
		    	maxlength="50" 
		    	[errorStateMatcher]="matcher">

		    <mat-hint align="end">{{msgDiseases.value.length}} / 50</mat-hint>
		</mat-form-field>

		<mat-form-field class="example-full-width">
		    <input 
		    	matInput 
		    	placeholder="Description"  
		    	[formControl]="desFormControl" 
		    	#msgDes 
		    	maxlength="200" 
		    	[errorStateMatcher]="matcher">

		    <mat-hint align="end">{{msgDes.value.length}} / 200</mat-hint>
		</mat-form-field>
		<br>

        <button type="button" mat-raised-button color="accent" (click)="submit()">Submit</button>
    </form>
</mat-card>